appdirs==1.4.3
backports.ssl-match-hostname==3.5.0.1
future==0.16.0
numpy==1.19.4
packaging==16.8
pandas==1.1.4
pyparsing==2.2.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.13.0
six==1.10.0
websocket-client==0.56.0
bitmex-market-maker==1.5.1
